/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
}

h1,
h2 {
  font-family: "Bangers", sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  list-style: none;
}

.row {
  border: 5px none black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0px;
}

.col {
  border: 1px dashed grey;
  background-color: lightgray;
  flex-shrink: inherit;
  padding: 10px;
  text-align: center;
  margin: 20px 40px;
  list-style: none;
}

.image {
  max-width: 100%;
  height: 150px;
  margin: 10px 5px;
}
