.title {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.subtitle {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.content {
  font-family: Comic Sans MS;
}

.emph {
  font-style: italic;
}
