body {
  padding: 40px;
}

button {
  background-color: rgb(69, 43, 236);
  border: 1px none;
  border-radius: 15px;
  font-size: 1em;
  color: white;
  padding: 2em 2.5em;
}

button:focus {
  background: darkblue;
  outline: none;
}

button:active {
  transform: scale(0.9);
  transition: 0.5s;
  background: darkblue;
}
